* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Local Fonts */

@font-face {
    font-family: "Segoe UI";
    src: url(../Fonts/Segoe\ UI.woff2);
    src: url(../Fonts/Segoe\ UI.woff);
    font-weight: 100;
}

@font-face {
    font-family: "Segoe UI-SemiBold";
    src: url(../Fonts/SegoeUI-SemiBold.woff2);
    src: url(../Fonts/SegoeUI-SemiBold.woff);
    font-weight: 100;
}

@font-face {
    font-family: "Segoe UI-Regular";
    src: url(../Fonts/SegoeUI-Regular.woff2);
    src: url(../Fonts/SegoeUI-Regular.woff);
    font-weight: 100;
}

/* Main CSS */

body {
    background: #F6F6F6;
}

.container__main {
    margin: 50px 159px;
    width: 1602px;
    height: 1024px;
}

/* Header Start */

.header {
    font-family: "Segoe UI-Semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    height: 54px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 0 10px;

    color: #A1A1AA;
    margin-bottom: 20px;



}

.header__mobile-slider {
    display: none;
}

.table__span-hiden {
    display: none;
}

.adaptive__header,
.adaptive__comment,
.right-scroll,
.MyShop__logo,
.comment__long {
    display: none;
}

.header__items-left {
    display: flex;
    justify-content: space-between;
    width: 573px;
    height: 36px;
    padding-top: 10px;
    cursor: pointer;


}

.header__items-mobile {
    display: none;
}

.items-left {
    height: 38px;
}

.items-left:hover {
    color: #783CBD;
    border-bottom: 3px solid #783CBD;


}


.header__items-right a {
    color: #783CBD;
    text-decoration: none;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.header__items-right {
    cursor: pointer;
    display: flex;

}

.header__svg {
    margin-top: 1px;
    margin-right: 6px;
}

/* Header End */

.history {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    color: #18181B;
    margin-bottom: 20px;
}

.history__mobile {
    display: none;
}

.icon__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.button__icon,
.download__icon,
.printer__icon {
    cursor: pointer;
}

.printer__icon {
    display: none;
}

/* Table Start */

.table__container {
    background: #FFFFFF;
    position: relative;

    /* width: 1602px; */

    /* padding: 10px 20px; */
}

.table__container::after {
    content: "";
    position: absolute;
    background: #A1A1AA;
    border-radius: 20px;
    width: 4px;
    height: 40px;
    top: 45%;
    right: 0;
    margin: 0 4px;
}


.table__header {
    display: flex;
    justify-content: flex-start;
    box-shadow: inset 0px -2px 0px #E5E7EB;
    padding: 10px 20px;
    max-height: 44px;

}

.table__header-item {
    width: 220px;
    margin-right: 20px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3F3F46;
}

.table__header-item.long {
    width: 362px;
}

.dates-items {}

.table__dates-items {
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;

}

.dates-items-date,
.dates-items-number,
.dates-items-price,
.dates-items-percent,
.dates-items-rewards,
.dates-items-comment,
.items-number-inner,
.dates-items-long {
    margin-right: 20px;
    width: 220px;
    height: 24px;
    background: #F5F3FF;

}

.dates-items-price {
    margin-bottom: 4px;
}

.table__header-item.long,
.dates-items-comment,
.dates-items-long {
    margin-right: 0;
    width: 362px;
    background: #FFFFFF;
}


.dates-items-comment,
.items-comment-inner.item,
.items-comment-inner.long {

    background: #F5F3FF;
}

.items-comment-inner.item {
    width: 358px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* background: #F5F3FF; */
}

.dates-items-date {
    background: #FFFFFF;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #18181B;
}

.table__dates-items.closed {
    height: 68px;
    box-shadow: inset 0px -1px 0px #E5E7EB;
}

.table__dates-items.open {
    height: 168px;
    box-shadow: inset 0px -1px 0px #E5E7EB;
}

.items-number-inner.flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #FFFFFF;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #783CBD;
}

.items-number-inner.first,
.dates-items-price.first,
.dates-items-percent.first {
    margin-bottom: 48px;
}

.items-number-inner,
.dates-items-percent {
    margin-bottom: 4px;
}

.items-number-inner,
.dates-items-price,
.dates-items-percent,
.dates-items-rewards,
.dates-items-comment,
.items-comment-inner.long,
.items-comment-inner.item {
    padding-left: 4px;
}



.number-inner-items.svg {
    margin-left: 6px;
}

.number-inner-items.hiden {
    color: #71717A;
}

.items-number-inner,
.dates-items-price,
.dates-items-percent,
.dates-items-rewards,
.dates-items-comment {
    display: flex;
    align-items: center;

}

.dates-items-long {
    width: 362px;
    height: 100px;
}

.dates-items-price,
.dates-items-rewards {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #18181B;
}

.dates-items-comment,
.items-comment-inner.long,
.items-comment-inner.item {
    width: 358px;
    font-family: 'Segoe UI-semibold';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #18181B;
}

.items-comment-inner.item {
    margin-top: 4px;

}

/* Table End */

/* Price Start */

.total__price {
    width: 416px;
    height: 136px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 0px 0px 10px 0px;
    position: absolute;
    left: 1345px;
    top: 646px;
}

.price__total-rewards,
.price__adjustments,
.price__all {
    display: flex;
    margin-bottom: 10px;
}

.price__all {
    margin-bottom: 0;
}


.total-rewards-text,
.adjustments-text,
.price__all-text {

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #71717A;

    width: 256px;
    height: 48px;

}

.adjustments-text {
    height: 24px;

}


.total-rewards-text-wrapper {
    width: 229px;
}



.price__all-text {

    height: 24px;
}


.total-rewards-sum,
.adjustments-sum,
.price__all-sum {
    width: 130px;
    height: 24px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #71717A
}



.price__all-text,
.price__all-sum {
    color: #783CBD;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.comment__short {
    display: block;
}

/* Price End */

/* Adaptive Start */

@media (min-width: 360px) and (max-width: 1288px) {

    .container__main {
        margin: 57px 21px;
        max-width: 726px;
    }

    .header__items-left {
        width: 573px;
        height: 44px;
        padding-top: 14px;
    }

    .header__items-right {
        padding-top: 12px;
    }

    .icon__container {
        margin-bottom: 10px;
    }

    .table__header {
        width: 726px;
        height: 44px;
        padding: 10px 10px;
    }

    .total__price {
        position: absolute;
        width: 416px;
        height: 160px;
        left: 331px;
        top: 653px;
    }

    .table__header-item,
    .items-comment-inner.long,
    .items-comment-inner.item {
        display: none;
    }

    .table__dates-items {
        padding: 10px 10px;
    }

    .adaptive__header,
    .adaptive__comment {
        display: block;

        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #3F3F46;
        margin-right: 20px;

    }

    .right-scroll {
        display: block;
        position: absolute;
        width: 8px;
        height: 327px;
        left: 718px;
        top: 44px;
        background: #ffffff;
    }

    .adaptive__comment {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        background: #F5F3FF;
        padding-left: 4px;
        height: 24px;
        margin-right: 0;
    }

    .adaptive__comment.first {
        margin-bottom: 4px;
    }

    .adaptive__header.date,
    .adaptive__header.price,
    .adaptive__header.percent {
        width: 80px;

    }

    .adaptive__header.number {
        width: 130px;
    }

    .adaptive__header.rewards {
        width: 90px;
    }

    .adaptive__header.comment {
        width: 146px;
        margin-right: 0;
    }

    .items-number-inner,
    .dates-items-number {
        width: 130px;
        height: 24px;
    }

    .table__dates-items.open {
        height: 124px;

    }

    .items-number-inner.first,
    .dates-items-price.first,
    .dates-items-percent.first {
        margin-bottom: 0;
    }

    .dates-items-price,
    .dates-items-percent {
        width: 80px;
    }

    .dates-items-rewards {
        width: 90px;
    }

    .dates-items-comment,
    .items-comment-inner.long,
    .dates-items-long {
        width: 146px;

    }

    .items-comment-inner.long,
    .items-comment-inner.item {
        width: 123px;

        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #18181B;


    }

    .adaptive__comment {
        font-family: 'Segoe UI-semibold';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #18181B;
    }

    .dates-items-date {
        width: 80px;
    }

    .total__price {
        left: 331px;
        top: 599px;
    }

    .table__container::after {
        content: "";
        position: absolute;
        background: #A1A1AA;
        border-radius: 20px;
        width: 2px;
        height: 21px;
        top: 50%;
        right: -1px;
        margin: 0 4px;
    }

    .right-scroll::before {
        content: "";
        position: absolute;
        background: #F4F4F5;
        border-radius: 20px;
        width: 4px;
        height: 150px;
        top: 23%;
        right: -2px;
        margin: 0 4px;
    }

}


@media (min-width: 0px) and (max-width: 360px) {

    .container__main {
        width: 360px;
        height: 2531px;
        margin: 0;
        padding: 0;
    }

    .table__container {
        margin: 0 15px;
    }

    .MyShop__logo,
    .header__items-mobile,
    .printer__icon {
        display: block;
    }

    .header {
        padding: 20px 15px 10px;
        border-radius: 0px;
        margin: 0;
        width: 360px;
        height: 50px;
    }

    .header__items-mobile {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #783CBD;
        display: flex;
        align-items: flex-start;
    }



    .header__items-left,
    .right-scroll,
    .history,
    .items-number-inner.flex,
    .table__container::after {
        display: none;
    }

    .header__mobile-slider {
        display: flex;
        width: 700px;
        height: 44px;

        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        margin: 0px 15px;
        color: #A1A1AA;
        box-shadow: inset 0px -1px 0px #E5E7EB;

        overflow-x: auto;
        width: 100%;
        margin: 0 15px;
        scroll-snap-type: x mandatory;
        margin-bottom: 20px;


    }




    .items-left-mobile {
        /* width: 140px;
        height: 44px; */
        display: flex;
        align-items: center;
        justify-content: center;

        flex: 0 0 140px;
        height: 44px;
        scroll-snap-align: end;


    }



    .items-left-mobile:hover {
        padding-top: 3px;
        color: #783CBD;
        border-bottom: 3px solid #783CBD;
    }

    ::-webkit-scrollbar {
        display: none;
    }


    .history__mobile {

        display: block;
        margin-left: 15px;
        width: 272px;
        height: 22px;
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 20px;

        color: #18181B;
    }

    .icon__container {
        width: 330px;
        height: 64px;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 10px;
        align-items: center;
        margin: 0px 15px 10px;
    }

    .icon__container-right {
        width: 60px;
        height: 24px;
        display: flex;
    }

    .printer__icon {
        margin-right: 12px;
    }

    .table__container {
        max-width: 360px;
    }

    .table__header {
        display: none;
    }

    .table__dates-items {
        padding: 10px;
        margin-bottom: 10px;

        display: block;

    }

    .table__dates-items.closed {
        width: 330px;
        height: 513px;

        background: #FFFFFF;
        border-radius: 10px;
        position: relative;
    }

    .dates-items-date,
    .dates-items-number,
    .dates-items-price,
    .dates-items-percent,
    .dates-items-rewards,
    .dates-items-comment {
        width: 310px;
        height: 70px;
        background: #FFFFFF;
        padding: 0;
        margin: 0;
    }

    .items-number-inner {
        background: #FFFFFF;
        padding: 0;
        margin: 0;

    }

    .table__span-hiden {
        display: block;

    }

    .dates-items-date {
        background: #F5F3FF;
        padding: 0px 10px;
        /* margin-bottom: 10px; */

    }


    .items-number-inner,
    .dates-items-price,
    .dates-items-percent,
    .dates-items-rewards,
    .dates-items-comment {
        display: block;
        padding: 0px 10px;
    }

    .table__container {
        background: none;

    }

    .number-inner-span {
        height: 24px;
    }

    .number-inner-span.table__span-hiden {
        width: 290px;
    }

    .items-number-inner {
        width: 310px;
        height: 50px;

    }

    .table__span-hiden {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;

        display: flex;
        align-items: center;

        color: #71717A;
    }

    .dates-items-date,
    .dates-items-number,
    .dates-items-price,
    .dates-items-percent,
    .dates-items-rewards,
    .dates-items-comment,
    .items-number-inner,
    .dates-items-long,
    .comment__long {
        font-family: 'Segoe UI';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #18181B;

    }

    .items-number-inner,
    .dates-items-price,
    .dates-items-percent,
    .dates-items-rewards {
        /* margin: 10px 0; */
        height: 70px;
        padding-top: 10px;
        border-bottom: 1px solid #E4E4E7;

    }

    .dates-items-date {
        height: 50px;
    }

    .comment__short {
        display: none;
    }

    .comment__long {
        display: block;
        width: 310px;
        height: 96px;

    }

    .items-number-inner.flex {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        left: 10px;
        bottom: 10px;
        padding: 0;
        margin: 0;
        border: none;
        background: none;

        /* width: 44px; */
        height: 20px;
    }

    .table__dates-items.closed {
        box-shadow: none;
    }

    .items-comment-span.table__span-hiden {
        padding-top: 10px;
    }

    .table__adaptive-container {
        width: 330px;
        height: 1419px;
    }

    .hiden {
        display: none;
    }

    .table__dates-items.open {
        height: 503px;
        margin-bottom: 20px;
    }

    .table__dates-items.open.2 {
        height: 503px;
    }

    .dates-items-long,
    .items-comment-inner.long,
    .items-comment-inner.item {
        width: 310px;
        background: none;
    }

    .table__dates-items.open.3 {
        height: 443px;
    }

    .table__dates-items.open.4 {
        height: 473px;
    }

    .total__price {
        margin: 15px 15px 0;
        left: 0;
        top: 2361px;
        width: 330px;
        height: 160px;
        background: #F5F3FF;
        border-radius: 10px;
        padding: 10px 0 10px 10px;
    }

    .price__total-rewards {
        width: 320px;
        height: 48px;
        justify-content: space-between;
    }

    .total-rewards-text {
        width: 152px;

    }

    .total-rewards-sum,
    .adjustments-sum,
    .price__all-sum {
        width: 140px;
        height: 24px;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;

    }

    .adjustments-text {
        height: 48px;
    }

    .items-number-inner.first, .dates-items-price.first, .dates-items-percent.first {
        margin-bottom: 0;
    }

    .items-comment-inner.item {
        display: none;
    }

    .flex.hiden {
        display: none;
    }

}

/* Adaptive End */